@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("./resources/fonts/Outfit-ExtraBold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
