@import "tailwindcss";

@theme {
  --animate-infinite-scroll: infinite-scroll 20s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50% - 20px));
    }
  }
}

@theme {
  --animate-fade-in-up: fade-in-up 1.0s ease-out both;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@font-face {
  font-family: "Outfit";
  src: url("./resources/fonts/Outfit-ExtraBold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
